html{
	display: table;
	margin:auto
}
body{
	display: table-cell;
	vertical-align:middle;
}
.dialDisplay{
	text-align:left;
	font-weight:bold;
	

}

.mainPanel{
	margin: 10px;
	width:100%;
	font-size:12px; 
	border: solid 3px black;
	border-radius: 3px;
}
.mainPanel-highBorders{
	border: solid 3px white;
	border-radius: 3px;
}
.mainPanel div{
	margin:5px;
}
#dialerTab{
	margin-left: 12%;
}
.dialer{
	padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
	width:400px;
	height:35px;
	color: black;
	background: #fff;
	text-align: end;
}

#Dial{
	background-color:#4CAF50;
}
#Clear{
	background-color:#4F4F4F;
	color:#FFFFFF;
}
#Dial1{
	background-color:#4CAF50;
}
#Clear2{
	background-color:#000000;
	color:#FFFFFF;
}
 .dialButton {
	width:125px;
	font-weight: bold;
	border-radius:100px;
}
 .dialButton2 {
	width:190px;
	font-weight: bold;
	border-radius:100px;
}
.tabButtons{
	width:auto;
	font-size:15px;
	font-weight:bold;
}
.labelText{
	font-weight:bold;
}
.addContact{
	width:100%;
}
.my-input{
	width:60%;
}
.floatLeft{
	float:left;
	color: #fff;
	border-radius: 100px; 
}
.floatRight{
	margin-left: 50px;
	color: #fff;
	border-radius: 100px; 
}
#contactButton{
	width:450px;
	padding: 10px
}
.contactButton {
	border-radius:20px;
	margin: 5px;
}
#contactAdd{
	margin: 200px;
	font-size: 18px;
	color: #4CAF50;
	text-align: center;		
	
}
.my-body{
	background-color:#000000 !important;
	color:#FFEC09 !important;
}
.tabButtons2 button{
	width:auto;
	font-size:15px;
	font-weight:bold;
	color:#46012F;
	background-color: #FFFF33;
}
.numberpad2 button{
	background-color: #FFFF33;
	color: #000000;
} 
.contact-form-text{
	color:black;
}